## bridge.config

## SLAVE_IDS=1;2;5-10;15
SLAVE_IDS=1
## BRIDGE_ID should be unique for each bridge in one workspace
BRIDGE_ID=bridge

## This is MODBUS_SERVICE_TOKEN from .env file.
## Token for backend authentication
SERVICE_TOKEN=service_token

TOKEN=token
WORKSPACE_NAME=name
WORKSPACE_LOGIN=test@gmail.com

MQTT_URI=mqtt://access-emqx:1883
MQTT_USER=microcloud
MQTT_PASS=1234567890

MODBUS_DRIVER_TYPE=tcp
MODBUS_DRIVER_TCP_PORT=512
MODBUS_DRIVER_TCP_HOST=192.168.3.245

MODBUS_BAUD_RATE=19200
MODBUS_DATA_BITS=8
MODBUS_STOP_BITS=1
MODBUS_PARITY=none
MODBUS_DRIVER_SERIAL_PORT=/dev/cu.usbserial-14130

MODBUS_TRANSPORT_TYPE=serial
MODBUS_TRANSPORT_DRAIN_TIMEOUT_MS=300
MODBUS_TRANSPORT_REQUEST_TIMEOUT_MS=2000
MODBUS_TRANSPORT_GET_LOGS_TIMEOUT_MS=10000

## logger.config
VERBOSE=verbose
LOG_FORMAT=plain

## rest-api.config
API_URL=http://access-backend:8000

## GENERAL CONSTANTS
MILLISECONDS_IN_SECOND=1000
MILLISECONDS_IN_MINUTES=60000

## READER CONSTANTS
UPDATE_TIME_INTERVAL=300000
UPDATE_SYNC_INTERVAL=60000
UPDATE_LOGS_INTERVAL=61000
UPDATE_POLL_INTERVAL=200
SYNC_STATUSES_INTERVAL=30000
SYNC_OPTIONS_INTERVAL=15000
SYNC_RULES_MAX_BYTES=4096

## MODBUS CONSTANTS
MODBUS_OFFLINE_UNITS_DELAY=30000
MODBUS_ONLINE_UNITS_DELAY=120
MODBUS_RESET_CONN_INTVL=3600000
MODBUS_RETRY_CONN_INTVL=10000
MODBUS_RETRY_INIT_INTVL=10000
MODBUS_CONN_TIMEOUT=60000
MODBUS_CALL_RETRIES=2
MODBUS_MAX_PARALLEL_CALLS=1
MODBUS_RETRY_REQUEST_INTERVAL=5000
MODBUS_RETRY_REQUEST_COUNT=1
MODBUS_REQUEST_TIMEOUT=2000

## API CONSTANTS
REST_API_RETRY_INTERVAL=2000